html, body {
  margin: 0;
  background: -webkit-gradient(linear, right top, left top, from(#0d1520), to(#0D2847));
  background: linear-gradient(to left, #0d1520, #0D2847);
  height: 100%;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  background: rgba(17, 25, 39, 0.45);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(17, 25, 39, 0.3);
  height: 70px;
  border: 1.5px solid #205D9E;
  border-radius: 45px;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-link {
  height: 100%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
nav .nav-link a {
  text-decoration: none;
  font-weight: 600;
  padding: 15px 25px;
  margin-right: 10px;
  border-radius: 45px;
  position: relative;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
nav .nav-link a:link, nav .nav-link a:visited {
  color: white;
}
nav .nav-link a:hover, nav .nav-link a.active {
  background: rgba(255, 255, 255, 0.15);
}
nav .btn-contact {
  margin-right: 10px;
  padding: 15px 30px;
  border-radius: 45px;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#004074), to(#2870BD));
  background: linear-gradient(to bottom, #004074, #2870BD);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-animation: button-shimmer 2s infinite;
          animation: button-shimmer 2s infinite;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav .btn-contact:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-animation: button-particles 1s ease-in-out infinite;
          animation: button-particles 1s ease-in-out infinite;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
nav .btn-contact:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@-webkit-keyframes button-shimmer {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
@-webkit-keyframes button-particles {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
@keyframes button-particles {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}

main {
  margin-top: 100px;
}
main .presentation {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .presentation-txt p {
  margin: 0;
  font-size: 2.5rem;
}
main .presentation-txt h1 {
  margin: 15px 0;
  font-size: 5rem;
  color: #70B8FF;
}
main .presentation-logo {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
main .presentation-logo i {
  font-size: 2.5rem;
  color: #70B8FF;
}
main .presentation-logo i:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
main .presentation-picture {
  border: 1.5px solid #205D9E;
  width: 40%;
  border-radius: 50%;
}
main .about {
  background-color: #004074;
}
main .about .banner-title {
  background-color: #111927;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 6px 20px 0px #1c1b1b;
          box-shadow: 0px 6px 20px 0px #1c1b1b;
}
main .about .banner-title h2 {
  margin: 0;
  font-size: 2rem;
}
main .about .about-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .about .about-content img {
  width: 400px;
}
main .about .about-content .about-text {
  width: 50%;
  border-left: 2px solid #0090FF;
  border-bottom: 2px solid #0090FF;
  -webkit-box-shadow: -4px 3px 7px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -4px 3px 7px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .about .about-content .about-text p {
  margin: 0 0 0 50px;
  font-size: 1.25rem;
  line-height: 1.4;
}
main .about .about-content .about-text p span {
  color: #0090FF;
  font-weight: bold;
}
main .about .about-content .about-text .waving-hand {
  font-size: 2.5rem;
}
main .about .about-content .about-text .btn-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
main .about .about-content .about-text .cv {
  width: 20%;
  margin: 20px 0 30px 50px;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#0090FF), to(#70B8FF));
  background: linear-gradient(to bottom, #0090FF, #70B8FF);
  color: #0D2847;
  font-weight: bold;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-animation: button-shimmer 2s infinite;
          animation: button-shimmer 2s infinite;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main .about .about-content .about-text .cv:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-animation: button-particles 1s ease-in-out infinite;
          animation: button-particles 1s ease-in-out infinite;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
main .about .about-content .about-text .cv:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
main .about .about-content .about-text .cv i {
  color: #0D2847;
  font-size: 1.5rem;
}
main .about .about-content .about-text .location {
  margin: 27px 0 35px 0;
  padding: 10px 50px 10px 20px;
  border-radius: 15px;
  border: none;
  background: #aac8e7;
  color: #0D2847;
  font-weight: bold;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}