html,
body {
  margin: 0;
  background-color: #12243d;
  height: 100%;
  color: white;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

//HEADER

header {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: rgba(17, 25, 39, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(17, 25, 39, 0.3);
  height: 70px;
  border: 1.5px solid #205d9e;
  border-radius: 45px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    height: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      font-weight: 600;
      padding: 15px 25px;
      margin-right: 10px;
      border-radius: 45px;
      position: relative;
      transition: background 0.3s ease;

      &:link,
      &:visited {
        color: white;
      }

      &:hover,
      &.active {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
  .btn-contact {
    margin-right: 10px;
    padding: 15px 30px;
    border-radius: 45px;
    font-size: 20px;
    background: linear-gradient(to bottom, #004074, #2870bd);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: brightness(1.3);
      animation: button-particles 1s ease-in-out infinite;
      transform: translateY(-2px);
    }

    // Click animation
    &:active {
      transform: scale(0.95);
    }
  }

  // Shimmer animation
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }

    100% {
      background-position: right bottom;
    }
  }

  // Particle animation
  @keyframes button-particles {
    0% {
      background-position: left top;
    }

    100% {
      background-position: right bottom;
    }
  }

  .menu-icon {
    display: none; /* Initialement caché sur les grands écrans */
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
  }
}

//MAIN + PRESENTATION

main {
  margin-top: 100px;
  .presentation {
    max-width: 1440px;
    margin: auto;
    padding: 200px 100px 220px 100px;
    text-align: center;
    position: relative;

    .circle-blur {
      position: absolute;
      z-index: 0;
      border-radius: 50%;
    }

    .circle-1 {
      height: 400px;
      width: 400px;
      top: -50px;
      left: 0px;
      background: rgb(12 105 195 / 40%);
      filter: blur(120px);
    }

    .circle-2 {
      height: 300px;
      width: 300px;
      top: 60px;
      right: 445px;
      background: rgb(12 105 195 / 40%);
      filter: blur(90px);
    }

    .circle-3 {
      height: 600px;
      width: 600px;
      bottom: -30px;
      right: 0;
      background: rgb(12 105 195 / 50%);
      filter: blur(100px);
    }

    &-txt {
      position: relative;
      z-index: 1;
      p {
        margin: 0;
        font-size: 6rem;
      }
      h1 {
        margin: 15px 0;
        font-size: 7rem;
        color: #70b8ff;
      }
    }
    &-logo {
      position: relative;
      z-index: 1;
      margin-top: 70px;
      display: flex;
      justify-content: center;
      gap: 30px;

      i {
        font-size: 4rem;
        color: #70b8ff;
        &:hover {
          filter: brightness(1.3);
        }
      }
    }
  }

  .title {
    margin: 80px 5%;
    font-size: 2.5rem;

    h2 {
      background: -webkit-linear-gradient(left, #28f1fe, #7873f5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      display: inline-block;
      animation: glow-animation 4s infinite;
    }
    @keyframes glow-animation {
      0% {
        text-shadow: 0 0 5px rgba(40, 241, 254, 0.7); /* Ombre textuelle moins intense */
      }
      50% {
        text-shadow: none; /* Pas d'ombre pour perdre la brillance */
      }
      100% {
        text-shadow: 0 0 5px rgba(40, 241, 254, 0.7);
      }
    }
  }

  //ABOUT ME

  .about {
    &-content {
      max-width: 1440px;
      margin: 70px 5% 100px;
      padding: 120px 70px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border-radius: 25px;
        padding: 3px;
        background: linear-gradient(280deg, #28f1fe, #7873f5);
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
      }

      img {
        width: 350px;
        height: 350px;
        border-radius: 50px;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
      }

      .about-text {
        position: relative;
        width: 50%;
        border-radius: 0 0 0 15px;
        border-left: 2px solid #0090ff;
        border-bottom: 2px solid #0090ff;
        box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 7px 0px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 15px; /* Largeur de la sphère */
          height: 15px; /* Hauteur de la sphère */
          border-radius: 50%; /* Pour rendre la forme circulaire */
          background-color: #0090ff; /* Couleur de la sphère */
        }

        &::before {
          top: -5px; /* Décalage vers le haut pour le coin supérieur gauche */
          left: -8px; /* Décalage vers la gauche pour le coin supérieur gauche */
        }

        &::after {
          bottom: -8px; /* Décalage vers le bas pour le coin inférieur droit */
          right: -5px; /* Décalage vers la droite pour le coin inférieur droit */
        }

        p {
          margin: 0 0 0 50px;
          font-size: 1.3rem;
          line-height: 2;

          span {
            color: #0090ff;
            font-weight: bold;
          }
        }
        .hi-text {
          font-size: 2.5rem;

          .waving-hand {
            animation-name: wave-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 70% 70%;
            display: inline-block;
          }

          @keyframes wave-animation {
            0% {
              transform: rotate(0deg);
            }
            10% {
              transform: rotate(14deg);
            }
            20% {
              transform: rotate(-8deg);
            }
            30% {
              transform: rotate(14deg);
            }
            40% {
              transform: rotate(-4deg);
            }
            50% {
              transform: rotate(10deg);
            }
            60% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
        }

        .btn-about {
          display: flex;
          gap: 50px;
        }

        .cv {
          width: 20%;
          margin: 20px 0 30px 50px;
          padding: 20px 20px;
          border-radius: 30px;
          border: none;
          background: linear-gradient(to bottom, #0090ff, #70b8ff);
          color: #0d2847;
          font-weight: bold;
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          cursor: pointer;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          animation: button-shimmer 2s infinite;
          transition: all 0.3s ease-in-out;

          &:hover {
            filter: brightness(1.3);
            animation: button-particles 1s ease-in-out infinite;
            transform: translateY(-2px);
          }
          &:active {
            transform: scale(0.95);
          }

          i {
            color: #0d2847;
            font-size: 1.5rem;
          }
        }

        .location {
          margin: 27px 0 35px 0;
          padding: 10px 50px 10px 20px;
          border-radius: 15px;
          border: none;
          background: #aac8e7;
          color: #0d2847;
          font-weight: bold;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }

  //PROJECTS

  .projects {
    .card-container {
      max-width: 1440px;
      margin: 120px 0 210px;
      height: 1500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10%;

      .card {
        height: 100%;
        position: relative;
        width: 50%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-shadow: -10px 0 20px -10px #7873f5, 10px 0 20px -10px #28f1fe;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &::before {
          content: "";
          position: absolute;
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -4px;
          border-radius: 15px;
          padding: 8px;
          background: linear-gradient(280deg, #28f1fe, #7873f5);
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask-composite: exclude;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          border-radius: 10px;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);

          .card-content {
            transform: rotateX(0deg);
          }
        }

        .card-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px;
          box-sizing: border-box;
          background-color: #f2f2f2;
          transform: rotateX(-90deg);
          transform-origin: bottom;
          transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .card-title {
            margin: 0;
            font-size: 1.5rem;
            color: #333;
            font-weight: 700;
            a {
              &:visited {
                color: #0090ff;
              }
            }

            i {
              padding-left: 15px;
            }
          }

          .card-description {
            margin: 0;
            font-size: 1.1rem;
            color: #777;
            line-height: 1.4;
          }

          .card-logo {
            display: flex;
            gap: 5%;
            i {
              color: black;
              font-size: 3.5rem;
            }
          }
        }
      }
    }
  }

  //SKILLS

  .skills {
    &-container {
      max-width: 1440px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      margin: 100px 0 200px 0;

      .skills-btn {
        background-color: rgb(29, 58, 99);
        width: 15%;
        text-align: center;
        transition: background 0.3s ease;
        border-radius: 15px;

        i {
          padding: 30px 0;
          font-size: 4rem;
          transition: color 0.3s ease;
        }

        &:nth-child(1) {
          color: #e44d26;
          &:hover {
            background: linear-gradient(
              135deg,
              #12243d 0%,
              rgba(228, 77, 38, 0.5) 100%
            );
            i {
              color: rgba(228, 77, 38, 0.5);
            }
          }
        }

        &:nth-child(2) {
          color: #ec76d5; /* SASS color */
          &:hover {
            background: linear-gradient(
              135deg,
              #12243d 0%,
              rgba(236, 118, 213, 0.5) 100%
            );
            i {
              color: rgba(236, 118, 213, 0.5);
            }
          }
        }

        &:nth-child(3) {
          color: #ffd43b; /* JS color */
          &:hover {
            background: linear-gradient(
              135deg,
              #12243d 0%,
              rgba(255, 212, 59, 0.5) 100%
            );
            i {
              color: rgba(255, 212, 59, 0.5);
            }
          }
        }

        &:nth-child(4) {
          color: #61dafb; /* React color */
          &:hover {
            background: linear-gradient(
              135deg,
              #12243d 0%,
              rgba(97, 218, 251, 0.5) 100%
            );
            i {
              color: rgba(97, 218, 251, 0.5);
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  height: 100px;

  p {
    font-size: 1.5rem;
  }
}

//Responsive 1300px

@media (max-width: 1330px) {
  main {
    .title {
      margin: 5% 5% 0 5%;
    }
    .presentation {
      padding: 110px 100px 150px 100px;

      &-txt {
        p {
          font-size: 4rem;
        }
        h1 {
          font-size: 6rem;
        }
      }
    }

    .about {
      &-content {
        margin: 5%;
        padding: 5%;

        img {
          width: 300px;
          height: 300px;
        }
        .about-text {
          border: none;
          box-shadow: none;
          gap: 15px;

          &::after,
          &::before {
            display: none;
          }
          .hi-text {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }

          .btn-about {
            gap: 30px;
          }

          .cv {
            margin: 20px 0 30px 35px;
            padding: 20px 50px;
          }
        }
      }
    }

    .projects {
      .card-container {
        height: 1000px;
        margin: 50px 0 10%;
        display: flex;
        flex-direction: column;
        gap: 5%;

        .card {
          width: 60%;
        }
      }
    }

    .skills-container {
      margin: 40px 0 150px 0;
    }
  }
}

//Responsive 768px
@media (max-width: 768px) {
  nav {
    width: 100%;
    margin: 0;
    border-radius: 0;
    justify-content: space-around;
    border-top: none;

    .nav-link {
      display: none; /* Cacher les liens de navigation par défaut */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #0b1729;
      z-index: 999;

      a.active {
        background: none;
      }
    }

    .nav-link.active {
      height: 200px;
      display: flex; /* Afficher les liens de navigation lorsque le menu est actif */
      justify-content: space-around;
    }

    .btn-contact {
      order: 2;
    }

    .menu-icon {
      display: flex; /* Afficher le menu burger */
      border-radius: 25px;
      background-color: rgb(31 64 111 / 80%);

      i {
        font-size: 1.5rem;
        padding: 15px;
      }
    }
  }

  main {
    .presentation {
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 0;
      .circle-1 {
        width: calc(100% / 3);
      }
      .circle-2 {
        width: calc(100% / 1.5);
      }
      .circle-3 {
        width: calc(100% / 2);
      }

      &-txt {
        p {
          font-size: 7vw;
        }
        h1 {
          font-size: 10vw;
        }
      }

      &-logo {
        i {
          font-size: 9vw;
        }
      }
    }

    .title {
      text-align: center;
    }
    .about-content {
      display: flex;
      flex-direction: column;

      .about-text {
        width: 100%;
        text-align: center;
        gap: 25px;

        p {
          margin: 0;
        }

        .btn-about {
          flex-direction: column;
          align-items: center;

          gap: 5%;
          .cv {
            margin: 0;
          }
        }
      }

      img {
        margin: 5%;
        width: 100%;
        object-fit: cover;
      }
    }

    .projects {
      .card-container .card {
        width: 90%;
      }
    }

    .skills-container .skills-btn {
      width: 33%;
    }
  }
}
