html, body {
  margin: 0;
  background: linear-gradient(to left, #0d1520, #0D2847);
  height: 100%;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
  
header {
  max-width: 1440px;
  margin: 0 auto;
}
  nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(17, 25, 39, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(17, 25, 39, 0.3);
    height: 70px;
    border: 1.5px solid #205D9E;
    border-radius: 45px;
    margin: 20px auto 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      height: 100%;
      padding-left: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
  
      a {
        text-decoration: none;
        font-weight: 600; 
        padding: 15px 25px;
        margin-right: 10px;
        border-radius: 45px;
        position: relative;
        transition: background 0.3s ease;

        &:link,
        &:visited {
          color: white; 
        }

        &:hover,
        &.active {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
    .btn-contact {
      margin-right: 10px;
      padding: 15px 30px;
      border-radius: 45px;
      font-size: 20px;
      background: linear-gradient(to bottom, #004074, #2870BD);
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      animation: button-shimmer 2s infinite;
      transition: all 0.3s ease-in-out;

      &:hover {
        filter: brightness(1.3);
        animation: button-particles 1s ease-in-out infinite;
        transform: translateY(-2px);
      }
    
      // Click animation
      &:active {
        transform: scale(0.95);
      }
    }
    
    // Shimmer animation
    @keyframes button-shimmer {
      0% {
        background-position: left top;
      }
    
      100% {
        background-position: right bottom;
      }
    }
    
    // Particle animation
    @keyframes button-particles {
      0% {
        background-position: left top;
      }
    
      100% {
        background-position: right bottom;
      }
    }
    }
  
    main {
      margin-top: 100px;
      .presentation {
        max-width: 1440px;
        margin: auto;
        padding: 150px 100px;
        text-align: center;

        &-txt{
          p{
            margin: 0;
            font-size: 4rem;
          }
          h1 {
            margin: 15px 0;
            font-size: 6rem;
            color: #70B8FF;
          }
        }
        &-logo {
          margin-top: 70px;
          display: flex;
          justify-content: center;
          gap: 30px;
          
          i {
            font-size: 3rem;
            color:#70B8FF ;
            &:hover {
              filter: brightness(1.3);
            }
          }
        }


      }

      .banner-title{
        background-color: #111927;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 20px 0px #1c1b1b;

        h2 {
          margin: 0 ;
          font-size: 2rem;
        }
      }

      .about {
        background: linear-gradient(to right, #004074, #003362);
        
        &-content {
          max-width: 1440px;
          margin: 0 auto;
          padding: 170px 80px;
          display: flex;
          justify-content: space-around;
          position: relative;
          perspective: 1000px;

          img {
            width: 350px;
            height: 350px;
            border-radius: 50px;
            height: auto; /* Maintenir le ratio de l'image */
            transform: translateY(-10px); /* Légèrement au-dessus de sa position normale */
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); /* Ombre pour donner l'effet de flottement */
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce */
            transform: rotateX(5deg) rotateY(5deg) translateY(-10px);
            animation: floating 2s ease-in-out infinite alternate;

      @keyframes floating {
        0% {
          transform: rotateX(0deg) rotateY(5deg) translateY(-10px);
        }
        100% {
          transform: rotateX(0deg) rotateY(5deg) translateY(-20px);
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1); /* Optionnel: Ajoute une légère lueur */
        top: 0;
        left: 0;
        border-radius: 15px; /* Ajustez pour un effet plus doux */
        z-index: -1; /* S'assure que cela apparaît derrière l'image */
      }
          }

          .about-text{
            position: relative;
            width: 50%;
            border-radius: 0 0 0 15px;
            border-left: 2px solid #0090FF;
            border-bottom: 2px solid #0090FF;
            box-shadow: rgba(0, 0, 0, 0.2) -6px 7px 7px 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 15px; /* Largeur de la sphère */
              height: 15px; /* Hauteur de la sphère */
              border-radius: 50%; /* Pour rendre la forme circulaire */
              background-color: #0090FF; /* Couleur de la sphère */
            }

            &::before {
              top: -5px; /* Décalage vers le haut pour le coin supérieur gauche */
              left: -8px; /* Décalage vers la gauche pour le coin supérieur gauche */
            }
            
            &::after {
              bottom: -8px; /* Décalage vers le bas pour le coin inférieur droit */
              right: -5px; /* Décalage vers la droite pour le coin inférieur droit */
            }

            p {
              margin: 0 0 0 50px;
              font-size: 1.25rem;
              line-height: 1.4;

              span {
                color:#0090FF;
                font-weight: bold;
              }
            }
            .waving-hand {
              font-size: 2.5rem;
            }

            .btn-about {
              display: flex;
              gap: 50px;
            }

            .cv {
              width: 20%;
              margin: 20px 0 30px 50px;
              padding: 15px 20px;
              border-radius: 30px;
              border: none;
              background: linear-gradient(to bottom, #0090FF, #70B8FF);
              color: #0D2847;
              font-weight: bold;
              font-size: 1.3rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 15px;
              cursor: pointer;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
              animation: button-shimmer 2s infinite;
              transition: all 0.3s ease-in-out;

              &:hover {
                filter: brightness(1.3);
                animation: button-particles 1s ease-in-out infinite;
                transform: translateY(-2px);
              }
              &:active {
                transform: scale(0.95);
              }

              i {
                color: #0D2847;
                font-size: 1.5rem;
              }
            }

            .location {
              margin: 27px 0 35px 0;
              padding: 10px 50px 10px 20px;
              border-radius: 15px;
              border: none;
              background: #aac8e7;
              color: #0D2847;
              font-weight: bold;
              font-size: 1.2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 30px;

            }
          }

        }
      }
    }
  